---

interface PostCardProps {
  postion: "left" | "center" | "right",
  title:string,
  description:string,
  pubDate:string,
  heroImage:string,
  tags:string[],
}

const { 
  postion: postion = "left"
  
} = Astro.props as PostCardProps
---

<div class="border rounded-lg border-customGrayBorder w-full mb-4">
  <!-- Card head  -->
  <div class={`bg-customDarkBg2 rounded-t-lg w-full px-4 py-3 global-font text-${postion}`}>
    title
  </div>
  <!-- cargo content  -->v
  <div class="py-3 bg-customContent rounded-b-lg">
    <div class=" px-4  cursor-pointer	 global-font w-full">
      在恰当的时机，以较小的代价， 
     </div>
  </div>
 
</div>
