---
import Separate from "@/components/Separate.astro";

---

<div class="border rounded-lg border-customGrayBorder bg-customDarkBg3 w-full p-4 shadow-2xl  ">
  <!-- title  -->
  <div class="text-center global-font">About me</div>
  <p class="text-sm font-light">
    Hi, I'm Mowang, a front-end software developer from Italy.
  </p>
  <p class="text-sm font-light">My primary tools of choice includes:</p>
  <Separate text="Test"/>
  <ul class="text-sm ">
    <li>Vue</li>
    <li>React</li>
    <li>Typescript</li>
    <li>Tailwind</li>
    <li>Astro</li>
    <li>MySql</li>
    <li>NodeJS</li>
    <li>Git</li>
  </ul>
  <Separate/>
  <p class="text-sm font-light">
    Beyond coding, I'm passionate about design, illustration, animation and 3D
    modelling and traveling. An unusual hobby of mine is collecting vintage
    passports, they're interesting pieces of history to me.
  </p>
  <p class="mt-2 text-sm font-light">
    While I have some preferred tools, I always choose the best one for the job,
    even if it's not on my usual list. My goal is to find the right solution for
    each project.
  </p>
</div>
